node_modules/
.expo/
.expo-shared/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.env
.env.local
.env.*.local
.DS_Store
.vscode/
.idea/
coverage/
dist/
build/
android/app/build/
android/app/release/
android/.gradle/
android/local.properties
android/app/.cxx/
ios/Pods/
ios/build/
